fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
python-multipart

langchain
langchain-openai
langchain-community
langchain-text-splitters
langgraph

chromadb
pymupdf
rank-bm25
scikit-learn
numpy
langchain-experimental
